body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*============= HEADER STYLES =============*/
header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  margin-right: 40px;
}
.menu-item:last-child {
  margin-right: 0;
}

.logo-link-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.text-raleway-navyblue {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.contact-item {
  margin-right: 40px;
}

.contact-item:last-child {
  margin-right: 0;
}
.contact-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/*============= /HEADER STYLES =============*/

/*============= TOP STYLES =============*/
.section-top {
  padding: 188px 0;
  background-color: #2e2f42;
}
.top-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/*============= /TOP STYLES =============*/

/*============= ADV STYLES =============*/
.section-adv {
  padding-left: 156px;
  padding-right: 156px;
  padding: 120px 0;
}
.adv-list {
  display: flex;
}

.adv-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.adv-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.adv-item:last-child {
  margin-right: 0;
}
.adv-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*============= /ADV STYLES =============*/

/*============= TEAM STYLES =============*/
.section-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 24px;
  width: calc((100% -72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}
.team-item:last-child {
  margin-right: 0;
}

.team-descr {
  padding: 32px 0;
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-member {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*============= /TEAM STYLES =============*/

/*============= PORTF STYLES =============*/
.portf-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.prof-item {
  width: 360px;
}
.portf-underline {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: 360px;
}
.portf-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portf-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*============= /PORTF STYLES =============*/

/*============= FOOTER STYLES =============*/
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-block {
  width: 264px;
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.text-raleway-cloud {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*============= /FOOTER STYLES =============*/
